.techname{
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffd700;
    // margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: 'coolvetica', sans-serif;
    
}


