.home-page {
    .text-zone {
      position: absolute;
      top: 33%;
      left: .25%;
      bottom: auto;
      transform: translateY(-40%);
      width: 61%;
      // max-height: 190%;
    }
  
    h1 {
      color: aliceblue;
      font-size: 53px;
      font-weight: 400;
      font-family: 'coolvetica';
      margin-left: 90px;
      position: relative;
  
      &::before {
        content: '<h1>';
        font-family: 'La belle Aurore';
        font-size: 18px;
        color: #ffd700;
        opacity: 0.6;
        position: absolute;
        margin-top: -20px;
       
      }
  
      &::after {
        content: '<h1/>';
        font-family: 'La belle Aurore';
        font-size: 18px;
        color: #ffd700;
        opacity: 0.6;
        position: absolute;
        font-size: 18px;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
      }
  
      img {
        opacity: 0.8;
        margin-left: 20px;
        margin-right: -2px ;
        animation-delay: 1.4s;
        width: 50px;
        height: 50px;
      }
    }
  
    h2 {
      animation: fadeIn 1s 1.7s backwards;
      margin-top: 25px;
      margin-left: 90px;
  
      .skills {
        font-size:17px;
        font-family:'sans-serif';
        color: adjust-hue($color: #0b7165, $degrees: 0);
        font-weight: 200;
        letter-spacing: 1px;
      }
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 900;
      color: #ffd700;
      text-decoration: wavy;
      // text-decoration: underline;
      &:hover{
          font-weight: 900;
          color: #333;
          text-decoration: underline;
      }
  }
    .flat-button{
        color: #ffd700;
        font-size: 13px;
        font-size: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 15px 23px;
        border: 2px solid #ffd700;
        border-radius: 5px;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.7s backwards;
        margin-left: 90px;
        white-space: nowrap;
        &:hover{
            background: #edc202;
            color: #333;
            transition: all 0.3s ease-in-out;
        } 

    }
  }
  .img-zone{
    width: 80%;
    top: 40px;
    left: 720px;
    position:relative;
    animation: fadeIn 1s 1.7s backwards;
    img{
      margin-left: 20px;
      width: 40%;
      height: 60%;
      object-fit: cover;
      object-position: center;
    }
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
  